/* shared style */

.raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.primary-color{
    color: #4E47FF;
}
.button-primary{
     background-color:  #4E47FF; 
     color: white;
     cursor: pointer;
     border-radius: 5px;
     border: none;
}
.button-primary:hover{
    background-color: chocolate;
}
#topper nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1140px;
    height: 151px;
    margin: 0 150px 0 150px;
    padding :0 20px
    
}
#topper nav h1{
    font-size: 30px;
}
#topper button{
    width: 132px;
    height: 48px;
   padding:12px 12px ;
   text-align: canter;
}
#banner{
    width: 905px;
    height: 235px;
    margin:152px 267px 50px 250px;
    text-align: center;


}
#banner p{
    font-size: 40px;
    font-weight: bolder;
}
header{
    background-image: url(Assets/Hero-bg.png);
}
#action{
    display: flex;
    justify-content: space-between;
    width: 900px;
    height: 330px;
     margin:0 267px 20px 250px;
    
}
.background{
    background-color:#D6DDED ;
}
#action div{
    width:300px;
    height: 200px;
}
#action h1{
    font-size: 30px;
    font-weight: bolder;

}
#action p{
    font-size: 20px;
    color:#252432 ;
}
#action button{
    padding :12px;
}
#action img{
    width: 400px;
    height: 300px;
    border: none;
    border-radius: 40px;
}
#user {
     width: 900px;
    height: 230px;
     margin:60px 267px 20px 250px;
     text-align: center;
     background-color: rgb(221, 233, 240);
     padding: 36px 12px;
}
#user p:nth-child(1){
    font-size: 30px;
    font-weight: bolder;
}
.user-info{
    display: flex;
    justify-content: space-around;
}
.user-info h1{
    font-size: 40px;
    font-weight: bolder;

}
.user-info p{
     color:#252432 ;
}
#touch{
     width: 900px;
    height: 350px;
   
    margin: 60px 267px 20px 250px;

}
#touch h1:nth-child(1){
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
}

.flex{
    display: flex;
    justify-content: space-around;
    margin: 0px 10px 0px 10px;
    gap:50px;
    
   
   
}
.flex-box{
   
    background-color: white;
}
.flex-box-footer{
      display: flex;
     
     gap:30px;
   
}
.flex-box-footer{
   color:#252432 ;
}

